.checkout {
    margin-top: 80px;
}

.order-summary {
   background-color:grey;
}

.product-summary {
    background-color: grey;
    height: 150px;
    align-items: center;
    font-size: 12px;
}

.img-thumbnail {
    height: auto;
    width:122px;
}

.product-summary-detail {
    width: 100%;
}

.order-summary-header {
    background-color: grey;
}