<div class="text-muted fixed-bottom bg-light px-4">
    <div class="row footer">
       <span class="col-md-1 col-sm-12">
           <span class="cursor-pointer">About us</span>
           <!-- <a routerLink="/about" routerLinkActive="active-link" (click)="openDialog()">About us</a> -->
       </span>
       <div class="col-md-11 col-sm-12 text-right">
           <span class="navbar-text small text-truncate mt-1 w-50  order-1 order-md-last">© 1996-2020, Ecommerce.com, Inc</span>
       </div>
   </div> 
</div>