@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,700,700i');

body {
	letter-spacing: 0.025rem;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

.line-height-1 {
	line-height: 1;
}